alias aa='add_alias'
alias ra='remove_alias'
alias lal='list_aliases'
alias gitc='~/Documents/gitc/gitc.py'
alias stopserver='kill -9 $(lsof -t -i:3000)'
alias stopclient='kill -9 $(lsof -t -i:8081)'
alias startclient='cd ~/Documents/embtr; npm run start'
alias startserver='cd ~/Documents/embtr_server; npm run debug'
alias up='/Users/thedevdad/Documents/embtr/scripts/use_prod.sh;/Users/thedevdad/Documents/embtr_server/scripts/use_prod.sh;'
alias ud='/Users/thedevdad/Documents/embtr/scripts/use_dev.sh;/Users/thedevdad/Documents/embtr_server/scripts/use_dev.sh;'
alias nc='nvim ~/.config/nvim/init.lua'
alias n='nvim .'
alias gs='/Users/thedevdad/Documents/embtr_common/scripts/ghooul.sh'
alias e='exit'
alias ud='/Users/thedevdad/Documents/embtr/scripts/use_dev.sh;/Users/thedevdad/Documents/embtr_server/scripts/use_dev.sh'
alias up='/Users/thedevdad/Documents/embtr/scripts/use_prod.sh;/Users/thedevdad/Documents/embtr_server/scripts/use_prod.sh'
alias dg='/Users/thedevdad/Documents/embtr_common/scripts/deep_ghooul.sh'
alias a='cd ~/Documents/admin/'
alias aa='add_alias'
alias s='cd ~/Documents/embtr_server/'
alias c='cd ~/Documents/embtr/'
alias fs='cd ~/Documents/fruckstop_server'
alias fc='cd ~/Documents/fruckstop_client'
alias fcc='cd ~/Documents/fruckstop_common'
alias l='cd ~/Documents/leasli'
alias migration='npx prisma migrate dev --name'
alias D='cd /Users/thedevdad/Documents'
alias db-refresh='npx prisma migrate reset; npx prisma db push;'
alias go-to-root='cd /'
alias nrd='npm run dev'
alias f='find . -name'
alias lalg='lal | grep'
alias npdp='npx prisma db push'
alias generate_tiles='/Users/thedevdad/Library/Application\ Support/Steam/steamapps/common/Aseprite/Aseprite.app/Contents/MacOS/aseprite -b path.aseprite grass.aseprite --sheet tiles.png --sheet-type horizontal'
alias nvimpush='cp -r ~/.config/nvim/* ~/Documents/dotfiles/nvim/; pushd ~/Documents/dotfiles; git add .; git commit -m "update"; git push; popd;'
alias rgf='rg --files | grep'
alias nvimconfig='cd ~/.config/nvim'
